*{
    margin:0px;
    padding:0px;
}
.ntfs{
    text-align: center;
    font-size: 45px;
    font-family: monotype corsiva;
    color:transparent;
    display:inline-block;
    margin-top:20px;
    margin-left: 10px;
    background:linear-gradient(to right,rgb(255, 231, 15),rgb(252, 79, 11));
    background-clip: text;
    padding-right: 20px;
}
.pizza-icon{
    width:70px;
    float: left;
    
    margin-top: 10px;
}
.ntfs-div{
    background-color: black;
    height: 85px;
    position: sticky;
    top:0px;
}
.nav-bar{
    background-color: rgb(121, 0, 0);
    height: 30px;
    color: white;
    text-align: center;
}

.list{
    text-decoration: none;
    color:white;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}
.list:hover{
    text-decoration: underline;
    text-decoration-color: yellow;
}
.active{
    color:rgb(251, 255, 0);
    text-decoration: underline;
}
.ntfs-div2{
    margin: auto;
    width: 450px;
}
/* body */
body{
    background: url(image/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box{
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    width: 600px;
    height: 412px;
    margin-top: 20px;
    border-radius: 10px;
}
.order-now{
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
    animation: order 0.6s infinite;
    color:blue;
    text-decoration:underline;
}
@keyframes order {
    33%{
        color:yellow;
    }
    66%{
        color:red;
    }
}

.pic{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 20px;
    float: left;
}
.pic-name{
display: inline-block;
margin-top: 20px;
font-size: 30px;
font-family: monotype corsiva;
background-color: rgba(0, 0, 0,0.8);
color: white;
padding:5px 20px 5px 10px;
margin-left: 10px;
border-radius: 5px;
}
.pic-des{
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
}
.price{
    color:red;
    text-decoration: underline;
}
.price:hover{
    text-decoration: none;
}
.quan{
    background-color: rgb(223, 223, 223);
    color: black;
    border:none;
    border-radius: 2px;
    cursor: pointer;
}
.add-btn{
    background-color: rgb(121, 0, 0);
    color: white;
    border: none;
    padding:3px 8px 3px 8px;
    border-radius: 2px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}
.add-btn:hover{
    background-color: rgb(158, 0, 0);
}

.box-div{
    padding-bottom: 10px;
}
.btn-div{
    height: 50px;
}
.see-more-btn{
    border:none;
    background-color: black;
    color:white;
    padding:5px 10px 5px 10px;
    margin-top:10px;
    cursor: pointer;
    box-shadow: 3px 3px 0px rgb(63, 63, 63);
    margin-left:260px;
}

.see-more-btn:hover{
    box-shadow: none;
    margin-top:13px;
    margin-left:263px;
    text-decoration: underline;
}
.free-del{
    background-color: yellow;
    text-align: center;
    margin-top: 30px;
    padding: 2px;
}


/* footer */
.footer{
    background-color: black;
    height: 40px;
    margin-top: 20px;
   
}
.footer-text{
    color: white;
    text-align: center;
    padding-top: 10px;
    
}